{{ define "rightpage" }}

<p id="requester">
  Current Requester to be shown
</p>
<form action="/booked" method="post">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="projectCode" id="projectCode" pattern="[A-Za-z0-9-]+">
    <label class="mdl-textfield__label" for="projectCode">Project code</label>
    <span class="mdl-textfield__error">Letters, numbers and dashes only</span>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="respContSeller" id="respContSeller">
    <label class="mdl-textfield__label" for="respContSeller">Responsible contact at Seller</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="respContCust" id="respContCust">
    <label class="mdl-textfield__label" for="respContCust">Responsible contact at Customer</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="projectCode" id="projectCode" pattern="[A-Za-z0-9-]+">
    <label class="mdl-textfield__label" for="projectCode">Project code</label>
    <span class="mdl-textfield__error">Letters, numbers and dashes only</span>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="respContSeller" id="respContSeller">
    <label class="mdl-textfield__label" for="respContSeller">Responsible contact at Seller</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="respContCust" id="respContCust">
    <label class="mdl-textfield__label" for="respContCust">Responsible contact at Customer</label>
  </div>
  <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    <input type="submit" value="Submit" class="mdl-button"></input>
  </div>
</form>

{{ end }}
