{{ define "content" }}
<div class="bookit-content page-content">
  <div class="bookit-content-left">
  {{ template "appflow" }}
  </div>
  <div class="bookit-content-right">
  {{ template "userflow" }}
  </div>
</div>
{{ end }}
