{{ define "content" }}
<div class="bookit-content page-content">
  <div class="bookit-content-left">
  {{ template "leftpage" }}
  </div>
  <div class="bookit-content-right">
  {{ template "rightpage" }}
  </div>
</div>
{{ end }}
