{{ define "drawer" }}

<div class="bookit-drawer mdl-layout__drawer">
   <span class="mdl-layout-title">
     <img class="bookit-logo-image-drawer" src="public/img/pig-icon.png">
   </span>
   <nav class="mdl-navigation">
     <a class="mdl-navigation__link" href="user:bookings">My Bookings</a>
     <a class="mdl-navigation__link" href="">link</a>
     <a class="mdl-navigation__link" href="">link</a>
     <a class="mdl-navigation__link" href="">link</a>
     <div class="bookit-drawer-separator"></div>
     <span class="mdl-navigation__link" href="">Title</span>
     <a class="mdl-navigation__link" href="">link</a>
     <a class="mdl-navigation__link" href="">link</a>
   </nav>
 </div>

{{ end }}
